.container {
    font-family: "Silkscreen", cursive;

    width: 100vw;
    height: 100vh;

    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}
.error_container {
    color: #fff;
    text-align: center;
    width: 60vw;
    height: 70vh;
    display: block;
}
.btn {
    position: relative;
    top: 5vmin;

    background-color: #fc8181;
    padding: 2vmin;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}
.err_svg {
    margin: auto;
    height: 30%;
}
.err_id {
    font-size: 6.5vmin;
}
.err_reason {
    font-size: 4vmin;
}
.err_des {
    font-size: 2vmin;
}
.btn {
    font-size: 2vmin;
}
